* {
  font-family: "Roboto", sans-serif;
}

/* NAVBAR */

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
}

.logo {
  display: block;
  height: 50px;
  width: auto;
  padding-right: 1vw;
}

/* HOME PAGE CONTENT */
.home-content {
  height: 100vh;
}

.employer-link {
  font-size: 1.5em;
  color: black;
  padding: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

.select-form {
  width: 8.5vw;
}

.button {
  margin-top: 25px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* EMPLOYEE PAGE CONTENT */
.employer-list {
  height: 100vh;
}

.home-link {
  font-size: 1.5em;
  color: black;
  padding: 1%;
}

.table {
  text-align: center;
  font-size: 1.25em;
  word-spacing: 10px;
}
