.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 115%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0;
}

.close-modal {
  z-index: 2;
  position: fixed;
  border-radius: 20px;
  padding: 5px 9px;
  margin-top: 490px;
  margin-left: 60.8%;
  background-color: black;
  color: white;
  font-weight: 900;
}

.text-modal {
  position: fixed;
  max-width: 500px;
  width: 90%;
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  text-align: left;
  margin-top: 500px;
  margin-left: 38%;
}

@media screen and (max-width: 1440px) {
  .close-modal {
    margin-left: 71.5%;
  }
}
